<div class="container text-center">
    <button (click)="DownloadFile()" class="btn btn-outline-primary mb-5 shadow border" >Download my Resume as a PDF</button>

    <div class="pb-2">

    <accordion [isAnimated]="true" class="shadow">
        <accordion-group heading="Work Experience">
            <div style="text-align: left;">
                <h2 class="mb-0">Data Engineering Intern</h2>
                <h3 class="text-primary">AAA - Auto Club Enterprises</h3>
                <p>June 2024 - September 2024</p>
                <p>Costa Mesa, CA</p>
                <ul>
                    <li>Established Data Governance for various insurance reports to ensure data validity before analysis using Collibra</li>
                    <li>Using Pandas, created an analysis for job runtime captured through AWS Glue and S3, to allow the team to
                        optimize their job workflows</li>
                    <li>Using data captured within AWS RedShift, created a query execution statistics reports, by joining many schema
                        together to capture descriptive statistics, reducing overhead costs from specific Business Units</li>
                </ul>
            </div>
            <div style="text-align: left;">
                <h2 class="mb-0">Hackathon Coordinator</h2>
                <h3 class="text-primary">Association for Computing Machinery, Santa Clara University Chapter</h3>
                <p>April 2024 - Present</p>
                <p>Santa Clara, CA</p>
                <ul>
                    <li>Coordinated a new hackathon in partnership with Amazon AWS, emphasizing building scalable applications of AI/ML products leveraging AWS and cloud solutions.</li>
                    <li>Raised over $40,000 in funding for various Hackathon's on campus</li>
                </ul>
            </div>
            <div style="text-align: left;">
                <h2 class="mb-0">Student Supervisor</h2>
                <h3 class="text-primary">Santa Clara University Learning Commons</h3>
                <p>September 2024 - Present</p>
                <p>Santa Clara, CA</p>
                <ul>
                    <li>Coordinated daily operations for closing hours, in absence of faculty supervisor, along with working the main help desk continuing to assist both student and public patrons</li>
                    <li>Processed and Circulated books via checking them in/out, managing holds, shelving, along with Interlibrary loan requests for various books, papers, and government documents</li>
                    <li>Assist with Troubleshooting for technology available to patrons</li>
                </ul>
            </div>
            <div style="text-align: left;">
                <h2 class="mb-0">Industry Liason</h2>
                <h3 class="text-primary">Association for Computing Machinery, Santa Clara University Chapter</h3>
                <p>April 2023 - April 2024</p>
                <p>Santa Clara, CA</p>
                <ul>
                    <li>Developed proposals to secure funding for Hack for Humanity 2024</li>
                    <li>Established strong connections with companies to form partnerships with ACM and SCU</li>
                    <li>Raised over $22,500 of funding so far</li>
                </ul>
            </div>
            <div style="text-align: left;">
                <h2 class="mb-0">Student Assistant</h2>
                <h3 class="text-primary">Santa Clara University Learning Commons</h3>
                <p>September 2023 - September 2024</p>
                <p>Santa Clara, CA</p>
                <ul>
                    <li>Assist Public and Student Patrons with all their needs providing customer service</li>
                    <li>Processed and Circulated books via checking them in/out, managing holds, shelving</li>
                    <li>Assist with Troubleshooting for technology available to patrons</li>
                    <li>Process InterLibrary book requests</li>
                </ul>
            </div>
            <div style="text-align: left;">
                <h2 class="mb-0">Entertainment Transporter</h2>
                <h3 class="text-primary">OC Fair & Event Center</h3>
                <p>July 2023 - September 2023</p>
                <p>Costa Mesa, CA</p>
                <ul>
                    <li>Facilitated Transport for band equipment to different stages within OC Fair & Event Center for Live Performances</li>
                    <li>Managed groups of three to safely transport drum sets between backstage and sets</li>
                    <li>Created a flow to transport water around the venue</li>
                </ul>
            </div>
            <div style="text-align: left;">
                <h2 class="mb-0">Metro Engineering Intern</h2>
                <h3 class="text-primary">Los Angeles Metro</h3>
                <p>June 2021 - August 2021</p>
                <p>Los Angeles, CA</p>
                <ul>
                    <li>Created pitches within teams of five to create practical expansions to the Los Angeles Metro</li>
                    <li>Developed and Presented proposal to engineering teams, generating models for the integration of new stations and railways</li>
                    <li>Surveyed Land, and budgeted out costs for new expansion projects</li>
                </ul>
            </div>
            <div style="text-align: left;">
                <h2 class="mb-0">Eagle Scout & Junior Assistant Scoutmaster</h2>
                <h3 class="text-primary">Boy Scouts of America, Troop 394</h3>
                <p>May 2016 - June 2022</p>
                <p>Cerritos, CA & Greater Los Angeles Area</p>
                <ul>
                    <li>Starting as a scout working up to the rank of Eagle Scout, through volunteering, managing groups of individuals, and providing services to non-profits around us</li>
                    <li>Volunteered for more than 600 Hours</li>
                    <li>Managed troop funds, worked with organizations to incorporate scouts as volunteers, and created and implemented a project to remodel local church’s pre-school</li>
                </ul>
            </div>
        </accordion-group>
        <accordion-group heading="Education">
            <div style="text-align: left">
                <h5>Santa Clara University</h5>
                <p>Bachelor of Science in Computer Science and Engineering  - B.S/M.S</p>
                <p>Graduating December 2025 - Rising Senior</p>
            </div>
        </accordion-group>
        <accordion-group heading="Skills">
            <div class="row" style="text-align: left">
                <div class="col">
                    <h5>Programming Languages:</h5>
                    <ul>
                        <li>Python</li>
                        <li>JavaScript</li>
                        <li>TypeScript</li>
                        <li>C#</li>
                        <li>C</li>
                        <li>C++</li>
                        <li>HTML/CSS</li>
                        <li>PHP</li>
                    </ul>
                </div>
                <div class="col">
                    <h5>Frameworks:</h5>
                    <ul>
                        <li>Angular</li>
                        <li>React</li>
                        <li>Vue</li>
                        <li>Flask</li>
                        <li>Node</li>
                    </ul>
                </div>
                <div class="col">
                    <h5>Other Skills:</h5>
                    <ul>
                        <li>Git</li>
                        <li>GitHub</li>
                        <li>VSCode</li>
                        <li>Postman</li>
                        <li>AWS</li>
                        <li>Microsoft Office</li>
                        <li>Team Worker</li>
                        <li>Problem Solver</li>
                    </ul>
                </div>
            </div>
        </accordion-group>
    </accordion>
    </div>

</div>