<div class="container">
    <div class="text-center border mb-5 shadow rounded">
        <h1>Contact</h1>
        <p>Please feel free to reach out to me <b>anish.kat123@gmail.com</b></p>
        <p>I am also on all of these following Platforms:</p>
    </div>

    <div class="list-group shadow">
        <a href="//linkedin.com/in/anishkatragadda/" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="/assets/linkedinlogo.png" width="48" height="48" class="rounded-circle flex-shrink-0 me-3" >
            <h3 class="mb-0">LinkedIn</h3>
        </a>
        <a href="//github.com/AnishKatr" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="/assets/githublogo.png" width="48" height="48" class="rounded-circle flex-shrink-0 me-3">
            <h3 class="mb-0">GitHub</h3>
        </a>
    </div>
</div>